<div class="header" ng-controller="HeaderCtrl">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">sailsChat</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul ng-if="isAuthenticated()" class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="rooms">Available Rooms</a></li>
                    <li><a ui-sref="logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>