<div class="jumbotron">
    <form ng-submit="login()">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="log.name" placeholder="Type your name here">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model="log.password" placeholder="Type your password here">
        </div>
        <input ng-disabled="!log.name || !log.password" class="btn btn-primary" type="submit" value="Login">
    </form>
</div>

<div class="jumbotron">
    <form ng-submit="register()">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="reg.name" placeholder="Type your name here">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model="reg.password" placeholder="Type your password here">
        </div>
        <input ng-disabled="!reg.name || !reg.password" class="btn btn-primary" type="submit" value="Register">
    </form>
</div>