<div class="well clearfix">
    <div class="col-xs-6">
        <div>
            <img ng-if="user.avatarUrl" src="{{ user.avatarUrl }}" class="img-rounded">
        </div>
    </div>

    <div class="col-xs-6">
        <form ng-submit="uploadAvatar(avatar)">
            <div class="form-group clearfix">
                <input type="file" ngf-select ngf-accept="'image/*'" ng-model="avatar" class="btn btn-default col-xs-12">
            </div>
            <input class="btn btn-primary" type="submit" value="Upload">
            <img ng-if="avatar" ngf-src="avatar[0]" ngf-accept="'image/*'" class="img-thumbnail">
        </form>
    </div>

</div>