<div class="well">
    <h3>Available rooms</h3>
    <div ng-repeat="room in rooms" ng-if="room.name !== 'global'">
        <p class="btn btn-link" ng-click="enterRoom(room.name)">{{ room.name }}</p>
    </div>
    <hr>
    <form ng-submit="enterRoom(newRoomName)">
        <div class="form-group">
            <label class="control-label">Create room</label>
            <input class="form-control" type="text" ng-model="newRoomName" placeholder="Enter room name">
        </div>
        <input type="submit" class="btn btn-default" value="Create room">
    </form>
</div>
